
`timescale 1ns / 1ns

module test;


wire  Q;

reg  CLK, CLK_L, D;



cdsModule_1 top(Q, CLK, CLK_L, D); 
 

`ifdef verilog

 //please enter any additional verilog stimulus in the /home/grads/l/lchenjie/lchenjie/cadence/Flip-Flop_simulate_run1/testfixture.verilog file
`include "/home/grads/l/lchenjie/lchenjie/cadence/Flip-Flop_simulate_run1/testfixture.verilog"

`endif

endmodule 
